@model IEnumerable<Common.DTO.Products.ProductReadDto>;
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<a class="btn btn-primary mb-3" asp-controller="Product" asp-action="Create">Add New Product</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            @* <th>Category</th> *@
            <th>Description</th>
            <th>Price</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Product in Model)
        {
            <tr>
                <td>@Product.Id</td>
                <td>@Product.Name</td>
                @* <td>@Product.CategoryName</td> *@
                <td>@Product.Description</td>
                <td>@Product.Price</td>
                <td>@Product.CreatedDate</td>
                <td>@(Product.UpdatedDate?.ToString("yyyy-MM-dd HH:mm") ?? "Not updated")</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Product.Id">Edit</a>
                    <form method="delete" asp-route-id="@Product.Id" style="display:inline">
                        @* <button type="submit" class="btn btn-sm btn-danger">Delete</button> *@
                        <a data-id="@Product.Id" data-type="Product" href="#" class="btn btn-danger btn-sm delete">Delete</a>

                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/delete.js"></script>
}